{% extends "exams/layout.html" %}

{% block body %}
    <div class="exam-style-fm">
        <h2 class="exam-text-fm">Create Practice Exam!</h2><br>
        {% if success_message %}
            <p>{{ success_message }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="exam-text-fm">
                {{ form.as_p }}
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-outline-danger">Generate Exam</button>
            </div>
        </form>
    </div>
{% endblock %}
