{% extends "exams/layout.html" %}
{% load static %}

{% block body %}
    <div class="container mt-4">
        <div class="card mb-3 exam-style-fm" style="padding-left: 30px; border: none;"> <!-- Remove borders and add left padding -->
            <div class="card-header bg-danger text-white">
                <h2>Exam Summary</h2>
            </div>
            <div class="card-body">
                <p class="card-text exam-text-fm">Exam ID: {{ exam.id }}</p>
                <p class="card-text exam-text-fm">Your Score: {{ user_score }}%</p>
                <h3 class="exam-text-fm">Your Answers:</h3>
                {% for user_question in user_questions %}
                    <div class="card mb-3 border-info" style="border: none; margin-left: -15px;"> <!-- Remove borders and adjust margin-left -->
                        <div class="card-body question-content">
                            <p class="question">{{ user_question.question.content }}</p>
                            {% if user_question.is_correct %}
                                <span class="badge badge-success float-right">Correct</span>
                            {% else %}
                                <span class="badge badge-danger float-right">Incorrect</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'exams/script.js' %}"></script>
{% endblock %}
