{% extends "exams/layout.html" %}
{% load static %}

{% block body %}
    <div class="container text-center mt-4">
        <div class="card mb-3" style="max-width: 1200px; margin: 0 auto;">
            <div class="card-header bg-info text-white">
                <h2>Exam Summary</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Exam ID: {{ exam.id }}</p>
                <p class="card-text">Your Score: {{ user_score }}%</p>
                <h3>Your Answers:</h3>
                {% for user_question in user_questions %}
                    <div class="card mb-3 border-info"> <!-- Add border-info class for blue border -->
                        <div class="card-body question-content">
                            {{ user_question.question.content }}
                            {% if user_question.is_correct %}
                                <span class="badge badge-success float-right">Correct</span>
                            {% else %}
                                <span class="badge badge-danger float-right">Incorrect</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'exams/script.js' %}"></script>
{% endblock %}
