{% extends "exams/layout.html" %}
{% load static %}


{% block body %}
    <h2>Take Exam!</h2>
    
    <p>Exam ID: {{ exam.id }}</p>

    <form method="post" action="">
        {% csrf_token %}
        
        {% for key, question in question_dict.items %}
            <fieldset>
                <legend>{{ key }}</legend>
                <p class="question">{{ question }}</p>
                <label for="{{ key }}">Your Answer:</label>
                <select name="{{ key }}" id="{{ key }}" required>
                    <option value="A">Option A</option>
                    <option value="B">Option B</option>
                    <option value="C">Option C</option>
                    <option value="D">Option D</option>
                    <option value="E">Option E</option>
                </select>
            </fieldset>
        {% endfor %}

        <input type="submit" value="Submit Exam">
    </form>
{% endblock %}

{% block script %}
    </script>
    <script src="{% static 'exams/script.js' %}"></script>
{% endblock %}

